@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 스타일 (1024px 이하) */
.LeftMenu {
  display: none;
}
.Header {
  left: 0;
}
.BottomMenu {
  display: block;
}
/* 1024px 초과 시 스타일 */
@media (min-width: 786px) {
  .LeftMenu {
    display: block;
  }
  .Header {
    left: 300px;
  }
  .BottomMenu {
    display: none;
  }
}
